
.inter-black{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #4E47FF;

}



.raleway-bold{  
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 65px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .width{
        max-width: 1440px;
        margin: auto;
    }

.button-primary{
    border: none;
    background-color: #4E47FF;
    color: white;
    padding:12px 36px;
    border-radius: 10px;
}

.button-primary:hover{
    background-color: #0f0fda;

}


/* banner section */

.banner-text{
    text-align: center;
    margin-top: -35%;
    margin-bottom: 35%;
}
/* section1 */

.section-container{
    display: flex;
    justify-content: space-between;
     
}
.section-container h2{
   font-size: 42px;
   
     
}
.section-container p{
   font-size: 24px;
   
}


.image{
    border-radius: 48px;
}


/* section2  */


.section-content {
    padding: 50px;
    text-align: center;

}

.section-container2 h3 {
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px;

}

.section-numbers {}

.section-status {
    display: flex;
    justify-content: center;
    gap: 160px;

}

.section-container2 h2 {
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.section-container2 p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* section-container3 */
.section-container3 {
    margin-top: 137px;

}

.section-container3 h2 {
    font-size: 42px;
    text-align: center;
}

.section-container3 h3 {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.section-container3 h5 {
    font-size: 42px;
    margin-top: 22px;
    margin-bottom: 0px;
}

.section-container3 p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-text2 {
    font-size: 22px;
    font-weight: 400;
}


/* user section */

.user-review {
    display: flex;
    gap: 20px;
}

.user-review h5 {
    font-size: 20px;
    opacity: 70%;

}

.user-review p {
    font-size: 18px;
    opacity: 50%;


}

.section-card1 {
    padding: 24px 24px;
    background-color: #4E47FF20;
    border-radius: 14px;

}

.section3-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 137px;
}


/* section4 */
.section4-contents {
    background-color: #4E47FF20;
    padding: 71px 150px;
    border-radius: 14px;
    text-align: center;
}


.section4-contents h2 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;


}

.section4-contents p {
    font-size: 18px;
    opacity: 50%;
    margin-top: 0px;
    margin-bottom: -10px;


}

.btn-padding {
    margin-top: 20px;
    margin-bottom: 20px;
}



/* input feild  */

.email-section{
    margin-top: 92px;
    padding-top: 71px;
    padding-bottom: 71px;
}

.email-section-contents {
    display: flex;
    align-items: center;
    gap: 115px;
    justify-content: space-between;
}

.email-section h4 {
    font-size: 18px;
    font-weight: 600;
}

.button-secondery {
    border: none;
    background-color: #4E47FF;
    color: white;
    padding: 20px 200px;
    border-radius: 10px;
}

.button-secondery:hover {
    background-color: #da0f0f;

}


.email {
    padding: 20px;
    padding-right: 271px;
    border-radius: 10px;
    border: 1px solid rgb(216, 216, 216);

}

.name {
    padding: 20px;
    padding-right: 271px;
    border-radius: 10px;
    border: 1px solid rgb(216, 216, 216);

}

.message {

    padding: 20px;
    padding-bottom: 80px;
    padding-right: 271px;
    border-radius: 10px;
    border: 1px solid rgb(216, 216, 216);

}

.email-title {
    font-size: 97px;
    font-weight: bold;
}


.footer {
    margin-top: 200px;
    background-color: white;
}

  




